@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  color: #333333;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
button {
  display: block;
}

input {
  border: none;
}

html {
  background-image: url(./../../img/bg-image.jpg);
  font-size: 62.5%;
}

body {
  color: #333333;
  font-size: 1.6rem;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

@-webkit-keyframes shutterMessage {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes shutterMessage {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes byeShutter {
  80% {
    opacity: 1;
  }
  99% {
    z-index: 9999;
  }
  100% {
    display: none;
    z-index: -1;
    opacity: 0;
  }
}

@keyframes byeShutter {
  80% {
    opacity: 1;
  }
  99% {
    z-index: 9999;
  }
  100% {
    display: none;
    z-index: -1;
    opacity: 0;
  }
}

@-webkit-keyframes shutterOpen1 {
  0% {
    width: 0;
    height: 1px;
  }
  60% {
    width: 100%;
    height: 1px;
  }
  80% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes shutterOpen1 {
  0% {
    width: 0;
    height: 1px;
  }
  60% {
    width: 100%;
    height: 1px;
  }
  80% {
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes shutterOpen2 {
  65% {
    width: 120%;
    height: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    width: 120%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes shutterOpen2 {
  65% {
    width: 120%;
    height: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    width: 120%;
    height: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes contentScale {
  65% {
    transform: perspective(800px) scale(0.9);
  }
  80% {
    transform: perspective(800px) scale(1);
  }
}

@keyframes contentScale {
  65% {
    transform: perspective(800px) scale(0.9);
  }
  80% {
    transform: perspective(800px) scale(1);
  }
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.l-header {
  z-index: 5;
  width: 100%;
  height: 8rem;
  background-color: #2a8212;
}

.c-btn {
  position: relative;
  padding: 1.2rem 2rem;
  border-radius: 3rem;
  background: #d23535;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.c-btn::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 0.5rem;
  height: 0.5rem;
  transform: translateY(-50%) rotate(-45deg);
  border-right: 0.2rem solid white;
  border-bottom: 0.2rem solid white;
  content: "";
  transition: all 0.3s;
}

.c-btn:hover {
  background-color: white;
  color: #d23535;
}

.c-btn:hover::after {
  border-right: 0.2rem solid #d23535;
  border-bottom: 0.2rem solid #d23535;
}

.c-btn--circle {
  padding: 0;
  border-radius: 50%;
}

.c-btn--circle::after {
  content: none;
}

.c-img {
  width: 100%;
  height: 100%;
}

.c-link {
  color: white;
}

.c-title {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: 3rem;
}

.c-title::before {
  position: absolute;
  top: 50%;
  right: -1rem;
  width: 0.5rem;
  height: 100%;
  transform: translateY(-50%);
  border: 0.2rem solid #000;
  border-left: none;
  content: "";
}

.c-title::after {
  position: absolute;
  top: 50%;
  left: -1rem;
  width: 0.5rem;
  height: 100%;
  transform: translateY(-50%);
  border: 0.2rem solid #000;
  border-right: none;
  content: "";
}

.p-commitment {
  padding: 8rem 3rem;
}

.p-commitment__title {
  margin: 0 auto 10rem;
}

.p-commitment__content {
  max-width: 30rem;
  margin: 0 auto;
}

.p-commitment__img-wrap {
  width: 100%;
  margin-bottom: 4rem;
}

.p-commitment__message {
  margin-bottom: 6rem;
}

.p-commitment__head {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 4rem;
  font-weight: bold;
  font-size: 2.4rem;
}

.p-commitment__head::before {
  z-index: -1;
  position: absolute;
  top: -3rem;
  left: -3rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: rgba(188, 176, 70, 0.5);
  content: "";
}

.p-commitment__body {
  max-width: 45rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.p-commitment__sns {
  max-width: 30rem;
  margin: 0 auto;
  text-align: center;
}

.p-commitment__sns-introduction {
  position: relative;
  margin-bottom: 4rem;
  padding: 0 1.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2rem;
}

.p-commitment__sns-introduction::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.4rem;
  height: 5rem;
  transform: translateY(-50%) rotate(-30deg);
  background-color: black;
  content: "";
}

.p-commitment__sns-introduction::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.4rem;
  height: 5rem;
  transform: translateY(-50%) rotate(30deg);
  background-color: black;
  content: "";
}

.p-commitment__sns-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2.4rem;
}

.p-commitment__sns-icon-wrap {
  /*相対配置*/
  display: inline-block;
  position: relative;
  width: 50px;
  /*幅*/
  height: 50px;
  margin-right: 1rem;
  /*グラデーション①*/
  overflow: hidden;
  /*はみ出た部分を隠す*/
  border-radius: 13px;
  /*高さ*/
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  /*角丸に*/
}

.p-commitment__sns-icon-wrap::before {
  position: absolute;
  /*絶対配置*/
  top: 23px;
  /*ずらす*/
  left: -18px;
  /*ずらす*/
  width: 60px;
  /*グラデーションカバーの幅*/
  height: 60px;
  /*グラデーションカバーの高さ*/
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  content: "";
  /*グラデーション②*/
}

.p-commitment__sns-icon {
  /*z-indexを使うため*/
  z-index: 2;
  /*白に*/
  position: relative;
  color: #fff;
  /*グラデーションより前に*/
  font-size: 35px;
  /*アイコンサイズ*/
  line-height: 50px !important;
  /*高さと合わせる*/
}

.p-commitment__sns-icon:hover {
  color: #668ad8;
  /*文字色*/
  transition: 0.5s;
  /*ゆっくり変化*/
}

.p-header {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.2rem 2rem 1.3rem;
}

.p-header__btn-wrap {
  width: 5.5rem;
  height: 5.5rem;
  margin-right: auto;
  font-size: 1.2rem;
}

.p-header__btn {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
}

.p-header__telephone {
  display: flex;
  align-items: center;
  margin-right: auto;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
}

.p-menu {
  padding: 5rem 4rem 5rem;
}

.p-menu__title {
  margin: 0 auto 10rem;
}

.p-menu__selector-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 6rem;
}

.p-menu__selector {
  position: relative;
  width: 100%;
  padding: 2rem 0.5rem;
  border: 0.1rem solid black;
  cursor: pointer;
}

.p-menu__selector--is-active {
  border: 0.1rem solid red;
  background-color: red;
}

.p-menu__selector--is-active::after {
  position: absolute;
  content: "";
}

.p-menu__selector-text {
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
}

.p-menu__selector-text--is-active {
  color: white;
}

.p-menu__head {
  margin-bottom: 4rem;
  font-weight: bold;
  text-align: center;
}

.p-menu__item {
  margin-bottom: 5rem;
}

.p-menu__img-wrap {
  margin-bottom: 3rem;
}

.p-menu__name {
  font-weight: bold;
  text-align: center;
}

.p-menu__special {
  max-width: 45rem;
  margin: 0 auto;
  font-weight: bold;
}

.p-menu__special-word {
  color: red;
}

.p-nav {
  display: block;
  visibility: hidden;
  z-index: 5;
  position: absolute;
  right: 50%;
  bottom: 0;
  left: 50%;
  width: 100vw;
  margin-right: -50vw;
  margin-left: -50vw;
  transform: translateY(100%);
  background-color: #2a8212;
  text-align: center;
  opacity: 0;
  transition: all 0.3s;
}

.p-nav--active {
  visibility: visible;
  opacity: 1;
}

.p-nav__item {
  padding: 1rem 0;
  border-top: 0.2rem solid #1d640a;
}

.p-nav__link {
  padding: 1rem 0;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.p-nav__trigger {
  z-index: 4;
  position: relative;
  width: 3rem;
  height: 4rem;
  margin: auto 0;
  margin-left: 2.5rem;
  padding: 0.8rem;
  cursor: pointer;
  transition: all 0.5s;
}

.p-nav__trigger-part {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.3rem;
  border-radius: 4px;
  background-color: white;
  transition: all 0.5s;
}

.p-nav__trigger-part:nth-of-type(1) {
  top: 1rem;
}

.p-nav__trigger-part:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.p-nav__trigger-part:nth-of-type(3) {
  bottom: 1rem;
}

.p-nav__trigger-part.active:nth-of-type(1) {
  transform: translateY(0.85rem) rotate(45deg);
}

.p-nav__trigger-part.active:nth-of-type(2) {
  transform: translateX(2rem);
  opacity: 0;
}

.p-nav__trigger-part.active:nth-of-type(3) {
  transform: translateY(-0.85rem) rotate(-45deg);
}

.p-top__img-wrap {
  width: 100%;
}

.p-top__img {
  display: block;
}

@media screen and (min-width: 768px) {
  .l-header {
    height: 10rem;
  }
  .c-btn {
    padding: 1.4rem 2rem;
  }
  .c-btn::after {
    right: 1rem;
  }
  .c-title {
    font-size: 3.6rem;
  }
  .c-title::before {
    right: -1.5rem;
  }
  .c-title::after {
    left: -1.5rem;
  }
  .p-commitment {
    padding: 10rem 10rem 5rem;
  }
  .p-commitment__content-wrap {
    display: flex;
    flex-direction: column;
  }
  .p-commitment__content {
    display: flex;
    max-width: 95rem;
  }
  .p-commitment__content:nth-child(even) {
    flex-direction: row-reverse;
  }
  .p-commitment__content:nth-child(odd) > .p-commitment__img-wrap {
    margin-right: 10rem;
  }
  .p-commitment__content:nth-child(even) > .p-commitment__message {
    margin-right: 10rem;
  }
  .p-commitment__content:not(:nth-child(n + 4)) {
    margin-bottom: 6rem;
  }
  .p-commitment__content:nth-last-child(2) {
    margin-bottom: 10rem;
  }
  .p-commitment__img-wrap {
    max-width: 40rem;
    margin: 0;
  }
  .p-commitment__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .p-commitment__head {
    font-size: 3rem;
  }
  .p-commitment__head::before {
    top: -3.5rem;
    left: -3.5rem;
    width: 8rem;
    height: 8rem;
  }
  .p-commitment__body {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  .p-header {
    flex-direction: row;
    max-width: 120rem;
    height: 100%;
    padding: 0 2rem;
  }
  .p-header__btn-wrap {
    width: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto 0;
    margin-left: auto;
    font-size: 1.6rem;
  }
  .p-header__btn {
    display: block;
    height: auto;
  }
  .p-header__telephone {
    margin: 0;
  }
  .p-menu {
    padding: 5rem 4rem 10rem;
  }
  .p-menu__selector-wrap {
    margin: 0 auto 8rem;
  }
  .p-menu__selector {
    max-width: 35rem;
    padding: 3rem 1rem;
  }
  .p-menu__selector-text {
    font-size: 2.2rem;
  }
  .p-menu__body {
    display: flex;
  }
  .p-menu__item {
    max-width: 30rem;
  }
  .p-menu__item:not(:last-child) {
    margin-right: 6rem;
  }
  .p-nav {
    visibility: visible;
    position: static;
    width: auto;
    margin: 0;
    margin-right: auto;
    transform: none;
    background-color: transparent;
    opacity: 1;
  }
  .p-nav__list {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .p-nav__item {
    border: none;
  }
  .p-nav__link {
    padding: 4.2rem 1.5rem;
  }
  .p-nav__link:hover {
    background-color: white;
    color: #2a8212;
  }
  .p-top {
    width: 100%;
  }
  .u-display--pc-none {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .u-display--sp-none {
    display: none;
  }
}
