.c-btn {
    position: relative;
    padding: 1.2rem 2rem;
    border-radius: 3rem;
    background: #d23535;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s;

    @include mq("pc") {
        padding: 1.4rem 2rem;
    }

    &::after {
        display: block;
        position: absolute;
        content: "";
        top: 50%;
        right: 1rem;
        width: 0.5rem;
        height: 0.5rem;
        transform: translateY(-50%) rotate(-45deg);
        border-right: 0.2rem solid white;
        border-bottom: 0.2rem solid white;
        transition: all 0.3s;

        @include mq("pc") {
            right: 1rem;
        }
    }

    &:hover {
        color: #d23535;
        background-color: white;

        &::after {
            border-right: 0.2rem solid #d23535;
            border-bottom: 0.2rem solid #d23535;
        }
    }

    &--circle {
        padding: 0;
        border-radius: 50%;

        &::after {
            content: none;
        }
    }
}
