.c-title {
    position: relative;
    width: fit-content;
    font-size: 2.4rem;
    font-weight: bold;

    @include mq("pc") {
        font-size: 3.4rem;
    }

    &::before {
        position: absolute;
        content: "";
        top: 50%;
        right: -1rem;
        transform: translateY(-50%);
        width: 0.5rem;
        height: 100%;
        border: 2px solid #000;
        border-left: none;

        @include mq("pc") {
            right: -1.5rem;
        }
    }

    &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: -1rem;
        transform: translateY(-50%);
        width: 0.5rem;
        height: 100%;
        border: 2px solid #000;
        border-right: none;

        @include mq("pc") {
            left: -1.5rem;
        }
    }
}
