.p-access {
    padding: 4rem 2rem 8rem;
    max-width: 60rem;
    margin: 0 auto;

    @include mq("pc") {
        padding: 5rem 4rem 10rem;
        max-width: 120rem;
    }

    &__title {
        margin: 0 auto 6rem;

        @include mq("pc") {
            margin: 0 auto 8rem;
        }
    }

    &__content-wrap {
        margin-bottom: 7rem;

        @include mq("pc") {
            display: flex;
            margin-bottom: 10rem;
        }
    }

    &__map-wrap {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        margin-bottom: 8rem;

        @include mq("pc") {
            width: 50%;
            margin: 0;
            margin-right: 10rem;
            padding-bottom: 50%;
        }
    }

    &__map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
    }

    &__map-link {
        position: absolute;
        bottom: -4rem;
        left: 2rem;
        z-index: 3;
        padding: 1rem 1.5rem;
        background-color: rgba(#bcb046, 1);
        border-radius: 2rem;
        font-weight: bold;
        transition: all 0.3s;

        @include mq("pc") {
            background-color: rgba(#bcb046, 0.6);
        }

        &:hover {
            background-color: rgba(#bcb046, 1);
        }
    }

    &__map-icon {
        padding-left: 0.5rem;
    }

    &__information {
        @include mq("pc") {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }
    }

    &__information-head {
        margin-bottom: 1.5rem;
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;

        @include mq("pc") {
            font-size: 2.4rem;
            text-align: left;
        }
    }
    &__information-item {
        font-size: 1.4rem;
        line-height: 1.8em;
        text-align: center;

        @include mq("pc") {
            font-size: 1.8rem;
            text-align: left;
        }
    }

    &__reservation-message {
        position: relative;
        margin-bottom: 5.2rem;
        padding: 0 1.5rem;
        width: fit-content;
        margin: 0 auto;
        color: $color-red;
        font-weight: bold;
        text-align: center;

        @include mq("pc") {
            margin-bottom: 5.4rem;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%) rotate(-30deg);
            content: "";
            width: 0.3rem;
            height: 3rem;
            background-color: $color-red;
        }

        &::after {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) rotate(30deg);
            content: "";
            width: 0.3rem;
            height: 3rem;
            background-color: $color-red;
        }
    }

    &__btn-wrap {
        width: fit-content;
        margin: 0 auto;
    }
}
