.p-footer {
    padding: 4rem 3.8rem;

    &__icons {
        display: flex;
        margin: 0 auto 4rem;
        width: fit-content;
    }

    &__icon-wrap {
        position: relative;
        width: 6rem;
        height: 6rem;
        background-color: #e9e9e9;
        border-radius: 50%;

        @include mq("pc") {
            width: 10rem;
            height: 10rem;
        }

        &:not(:last-child) {
            margin-right: 3rem;

            @include mq("pc") {
                margin-right: 7rem;
            }
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;

        @include mq("pc") {
            font-size: 7rem;
        }
    }

    &__copyright {
        color: white;
        text-align: center;
        line-height: 2rem;
    }
}
