.p-menu {
    padding: 5rem 4rem 5rem;

    @include mq("pc") {
        padding: 5rem 4rem 10rem;
    }

    &__title {
        margin: 0 auto 10rem;
    }

    &__selector-wrap {
        display: flex;
        justify-content: center;
        margin: 0 auto 6rem;
        width: 100%;
        transition: all 0.3s;

        @include mq("pc") {
            margin: 0 auto 8rem;
        }
    }

    &__selector {
        position: relative;
        width: 100%;
        padding: 2rem 0.5rem;
        border: 0.1rem solid black;
        cursor: pointer;
        transition: all 0.3s;

        @include mq("pc") {
            padding: 3rem 1rem;
            max-width: 35rem;
        }

        &--is-active {
            position: relative;
            background-color: $color-red;
            border: 0.1rem solid $color-red;

            &::after {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 100%);
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 26px 15px 0 15px;
                border-color: $color-red transparent transparent transparent;

                @include mq("pc") {
                    border-width: 43.3px 25px 0 25px;
                }
            }
        }
    }

    &__selector-text {
        font-size: 1.4rem;
        font-weight: bold;
        text-align: center;
        transition: all 0.3s;

        @include mq("pc") {
            font-size: 2.2rem;
        }

        &--is-active {
            color: white;
        }
    }

    &__content {
        display: none;

        &--is-active {
            display: block;
        }
    }

    &__head {
        margin-bottom: 4rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;

        @include mq("pc") {
            font-size: 2rem;
        }
    }

    &__body {
        @include mq("pc") {
            display: flex;
        }
    }

    &__item {
        margin-bottom: 5rem;

        @include mq("pc") {
            max-width: 30rem;

            &:not(:last-child) {
                margin-right: 6rem;
            }
        }
    }

    &__img-wrap {
        margin-bottom: 3rem;
        @include mq("pc") {
        }
    }

    &__name {
        text-align: center;
        font-size: 2.4rem;
        font-weight: bold;

        @include mq("pc") {
            font-size: 2.8rem;
        }
    }

    &__special {
        max-width: 60rem;
        margin: 0 auto;
        font-size: 2.4rem;
        line-height: 3rem;

        @include mq("pc") {
            font-size: 2.8rem;
            line-height: 3.2rem;
        }
    }

    &__special-word {
        font-size: 2.6rem;
        color: $color-red;
        font-weight: bold;

        @include mq("pc") {
            font-size: 3rem;
        }
    }
}
