.p-nav {
    visibility: hidden;
    display: block;
    position: absolute;
    z-index: map-get($layers, header);
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateY(100%);
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    opacity: 0;

    background-color: $color-green;
    text-align: center;
    transition: all 0.3s;

    @include mq("pc") {
        visibility: visible;
        position: static;
        transform: none;
        margin: 0;
        margin-right: auto;
        width: auto;
        background-color: transparent;
        opacity: 1;
    }

    &--active {
        visibility: visible;
        opacity: 1;
    }

    &__list {
        @include mq("pc") {
            display: flex;
            height: 100%;
            align-items: center;
        }
    }

    &__item {
        padding: 1.2rem 1.2rem;
        border-top: 0.2rem solid $color-darkgreen;

        @include mq("pc") {
            padding: 4.2rem 0;
            border: none;
        }
    }

    &__link {
        padding: 1.2rem 1.2rem;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s;

        @include mq("pc") {
            padding: 4.2rem 1.5rem;
        }

        &:hover {
            @include mq("pc") {
                color: $color-green;
                background-color: white;
            }
        }
    }

    &__trigger {
        position: relative;
        z-index: 4;
        width: 3rem;
        height: 4rem;
        margin: auto 0;
        margin-left: 2.5rem;
        padding: 0.8rem;
        cursor: pointer;
        transition: all 0.5s;

        &-part {
            position: absolute;
            left: 0;
            width: 100%;
            height: 0.3rem;
            background-color: white;
            border-radius: 4px;
            transition: all 0.5s;

            &:nth-of-type(1) {
                top: 1rem;
            }

            &:nth-of-type(2) {
                top: 50%;
                transform: translateY(-50%);
            }

            &:nth-of-type(3) {
                bottom: 1rem;
            }

            &.active:nth-of-type(1) {
                transform: translateY(0.85rem) rotate(45deg);
            }
            &.active:nth-of-type(2) {
                transform: translateX(2rem);
                opacity: 0;
            }
            &.active:nth-of-type(3) {
                transform: translateY(-0.85rem) rotate(-45deg);
            }
        }
    }
}
